:root {
    --black: #000;
    --blue: #1d9bf0;
    --subtle-white: rgba(255,255,255,.4);
}
body {
    width: 350px;
    margin: 0;
    padding: 0;
    font-size: 16px;
    background-color: var(--black);
    color: white;
    font-family: Roboto;
    border: 3px solid #333;
}
[data-view] {
    display: none;
}
h1,h2,h3,h4,h5,h6 {
    font-family: Helvetica;
    font-weight: bold;
}
header img {
    width: 24px;
    margin-right: 12px;
}
header, main, section, footer {
    padding: 0px 16px;
}
label {
    color: var(--subtle-white);
    font-size: 13px;
    display: block;
    border: 1px solid var(--subtle-white);
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 16px;
    border-radius: 5px;
}
input {
    display: block;
    margin-top: 4px;
    width: 100%;
    color: white;
    font-size: 16px;
    box-sizing: border-box;
    background-color: transparent;
    border: 0px;
}
label:has(input:focus) {
    border: 1px solid var(--blue);
    color: var(--blue);
}
input:active, input:focus {
    outline: 0;
}
.btn {
    cursor: pointer;
    margin-bottom: 12px;
    font-weight: bold;
    padding: 8px 24px;
    font-size: 16px;
    border: 0px;
    border-radius: 100px;
}
.btn-wide {
    width: 100%;
}
.btn-large {
    padding: 12px 24px;
}
.btn-blue {
    background-color: var(--blue);
    color: white;
}
.btn-light {
    color: black;
    background-color: white;
}